@media (max-width: 1399.98px) { 
    .container {
        max-width: 1090px;
    }
    /* columns */
    .columns-div {
        width: 28%;
        margin-right: 25px;
    }
    .columns-div h3 {
        margin: 30px 0;
        font-size: 20px;
      }
       /* aerth side  */
     .sizes {
        width: 30%;
      }
 }

@media (max-width: 1199.98px) {
    .container {
        max-width: 990px;
    }
     /* aerth side  */
     .sizes {
        width: 30%;
      }
}
@media (max-width: 991.98px) { 
    .Menu-of-icons{
       flex-wrap: wrap;
    }
    .Menu-of-icons:nth-child(4){
        width: 50%;
    }
    .Menu-of-icons:nth-child(5){
        width: 50%;
    }
     /* ideas responsive */
     .ideas-col h4 {
        font-size: 25px;
      }
      .ideas-col h4 br {
        display: block;
      }
    /* footer responsive */
    .information {
        flex-wrap: wrap;
    }
    /* aerth side  */
    .sizes {
        width: 45%;
      }
}
@media (max-width: 767.98px) { 
    /* ideas responsive */
    .ideas-columns,
    .transportation  {
        flex-direction: column;
    }
    .parent,
    .aboutus {
    width: 100%;
    }
    .ideas-col h4 {
        font-size: 25px;
      }
      .ideas-col h4 br {
        display: none;
      }
      /* --------- transportion ----------- */
      .transportation ul,
      .transition-text {
        width:100%;
      }
      .transition-text {
        margin-top: 50px;
      }
    /* ----------- */
  .footer-form {
    margin-top: 30px;
}
.sizes-menu {
    align-items: center;
    flex-direction: column;
  }
  .sizes-menu .sizes-menu-left-side {
    width: 100%;
    margin-bottom: 50px;
  
  }
  .sizes-menu .sizes-menu-right-side {
    width: 100%;
  }
  .sizes {
    width: 40%;
  }
  /* about */
  .aboutus h5 {
    font-size: 25px;
  }
  .aboutus p {
    font-size: 16px;
  }
  .whyus li {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) { 
    .Menu-of-icons{
        margin: 0 auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
     }
     .icons {
         width: 100%;
     }
     /* =================== */
     .transition-text h3 {
         font-size: 25px;
     }
     .transition-text p,
     .transition-text li{
        font-size: 15px;
      }
    /* -------------------------- */
    .footer-left-side,
    .footer-right-side,
    .footer-form {
        width: 100%;
        margin-right: 0;
    }
    #footer input {
        width: 250px;
    }
    #footer textarea{
        width: 250px;
    }
    /* earth side  */
    .sizes {
        width: 100%;
      }
      /* plane side  */
      .plane-container {
          flex-direction: column;
      }
      .plane-container img {
       margin-bottom: 30px;
      }
      .item-info h3 {
        font-size: 25px;
      }
      .plane-container p {
        font-size: 14px;
      
      }

      /* sea side  */
      .table {
          width: 100%;
      }
}