@media (max-width: 1399.98px) { 
    .container {
        max-width: 1090px;
    }
    /* columns */
    .columns-div {
        width: 28%;
        margin-right: 25px;
    }
    .columns-div h3 {
        margin: 30px 0;
        font-size: 20px;
      }
       /* aerth side  */
     .sizes {
        width: 30%;
      }
 }

@media (max-width: 1199.98px) {
    .container {
        max-width: 990px;
    }
     /* aerth side  */
     .sizes {
        width: 30%;
      }
      /* --------icons ---------- */
     .icons h4 {
       font-size: 15px;
     }
@media (max-width: 991.98px) { 
    .Menu-of-icons{
       flex-wrap: wrap;
    }
    .Menu-of-icons:nth-child(4){
        width: 50%;
    }
    .Menu-of-icons:nth-child(5){
        width: 50%;
    }
    .icons h4 {
      font-size: 17px;
    }
     /* ideas responsive */
     .ideas-col h4 {
        font-size: 25px;
      }
      .ideas-col h4 br {
        display: block;
      }
    /* footer responsive */
    .information {
        flex-wrap: wrap;
    }
    /* aerth side  */
    .sizes {
        width: 45%;
      }
       /* --------icons ---------- */
       .Menu-of-icons {
         width: 80%;
         margin: auto;
       }
       .Menu-of-icons :last-child{
        margin: 20px auto;
      }
       .icons {
        margin-bottom: 20px;
      }
}
@media (max-width: 767.98px) { 
  /* icons */
  .icons{
    margin-bottom: 20px;
  }
  .Menu-of-icons {
    width: 100%;
  }
  .Menu-of-icons :last-child{
    margin: 20px auto;
  }
    /* ideas responsive */
    .ideas-columns,
    .transportation  {
        flex-direction: column;
    }
    .parent,
    .aboutus {
    width: 100%;
    }
    .ideas-col h4 {
        font-size: 25px;
      }
      .ideas-col h4 br {
        display: none;
      }
      /* --------- transportion ----------- */
      .transportation ul,
      .transition-text {
        width:100%;
      }
      .transition-text {
        margin-top: 50px;
      }
    /* ----------- */
  .footer-form {
    margin-top: 30px;
}
.sizes-menu {
    align-items: center;
    flex-direction: column;
  }
  .sizes-menu .sizes-menu-left-side {
    width: 100%;
    margin-bottom: 50px;
  
  }
  .sizes-menu .sizes-menu-right-side {
    width: 100%;
  }
  .sizes {
    width: 40%;
  }
  /* about */
  .aboutus h5 {
    font-size: 25px;
  }
  .aboutus p {
    font-size: 16px;
  }
  .whyus li {
    font-size: 16px;
  }
  .incoterms p {
    width: 100%;
  }
  /* ----------- */
  .sizes-menu .sizes-menu-left-side {
    font-size: 16px;
  
  }
}
@media (max-width: 575.98px) { 
  .header,
  .scrolled {
    height: 220px;
    position: static;
  }
  .header {
    background-image: linear-gradient(to right,#ffffffd0,#18326f);
  }
 
  .menu {
      flex-direction: column;
      width: 100%;
  }
  .nav-area li ul.dropdown-menu{
    right: -80px;
    top: 65px;
  }

  /* ============================ */
    .cargo-bg h1,
    .cotums-bg h1,
    .shipagent-bg h1,
    .gabarit-bg h1,
    .onearth-bg h1,
    .plane-bg h1,
    .ship-bg h1,
    .wharehouse-bg h1 {
      font-size: 25px;
      top: 350px;
    }
    .Menu-of-icons{
        margin: 0 auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
     }
     .icons {
         width: 100%;
     }
     /* =================== */
     .transition-text h3 {
         font-size: 25px;
     }
     .transition-text p,
     .transition-text li{
        font-size: 15px;
      }
    /* -------------------------- */
    .footer-left-side,
    .footer-right-side,
    .footer-form {
        width: 100%;
        margin-right: 0;
    }
    #footer input {
        width: 250px;
    }
    #footer textarea{
        width: 250px;
    }
    /* earth side  */
    .sizes {
        width: 100%;
    }

      /* plane side  */
      .plane-container {
          flex-direction: column;
    }
      .plane-container img {
       margin-bottom: 30px;
    }
      .item-info h3 {
        font-size: 25px;
    }
      .plane-container p {
        font-size: 14px;
      
    }

      /* sea side  */
      .table {
          width: 100%;
    }
      .child a {
        font-size: 25px;
    }
      /* ======== icons =========== */
      .Menu-of-icons{
        width: 100%;
    }
      .Menu-of-icons a {
        width: 100%;
    }
  }
  /* sizes */
  .sizes-bg h1 {
    font-size: 25px;
    max-width: 320px;
    width: 100%;
  }
}