@media (max-width: 1399.98px) { 
    .container {
        max-width: 1090px;
    }
    /* columns */
    .columns-div {
        width: 28%;
        margin-right: 25px;
    }
    .columns-div h3 {
        margin: 30px 0;
        font-size: 20px;
      }
 }

@media (max-width: 1199.98px) {
    .container {
        max-width: 990px;
    }
}
@media (max-width: 991.98px) { 
    .Menu-of-icons{
       flex-wrap: wrap;
    }
    .Menu-of-icons:nth-child(4){
        width: 50%;
    }
    .Menu-of-icons:nth-child(5){
        width: 50%;
    }
     /* ideas responsive */
     .ideas-col h4 {
        font-size: 25px;
      }
      .ideas-col h4 br {
        display: block;
      }
    /* footer responsive */
    .information {
        flex-wrap: wrap;
    }
}
@media (max-width: 767.98px) { 
    /* ideas responsive */
    .ideas-columns,
    .transportation  {
        flex-direction: column;
    }
    .ideas-bg1,
    .ideas-bg2,
    .ideas-bg3{
    width: 100%;
    }
    .ideas-col h4 {
        font-size: 25px;
      }
      .ideas-col h4 br {
        display: none;
      }
      /* --------- transportion ----------- */
      .transportation ul,
      .transition-text {
        width:100%;
      }
      .transition-text {
        margin-top: 50px;
      }
    /* ----------- */
  .footer-form {
    margin-top: 30px;
}
}
@media (max-width: 575.98px) { 
    .Menu-of-icons{
        margin: 0 auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
     }
     .icons {
         width: 100%;
     }
     /* =================== */
     .transition-text h3 {
         font-size: 25px;
     }
     .transition-text p,
     .transition-text li{
        font-size: 15px;
      }
    /* -------------------------- */
    .footer-left-side,
    .footer-right-side,
    .footer-form {
        width: 100%;
        margin-right: 0;
    }
    #footer input {
        width: 250px;
    }
    #footer textarea{
        width: 250px;
    }

}