/* =========================== */
.container {
    max-width: 1400;
    width: 95%;
    margin: 0 auto;

}
/* =========== Header Top =========== */
.header-top {
  transition: all 0.5s ease;
}
.header-top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0;
}
.header-top-nav li {
    margin-right: 15px ;
    color: white;
}
.header-top-nav a {
  color: white;
}
.header-top-nav a:hover{
  color: deeppink;
}
.header-text {
  position: absolute;
  top: 30px;
  z-index: 5;
  width: 50%;
}
.menu {
  padding-top: 20px;
}
/* ............ SCROLLED  ................ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.014);
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
  z-index: 4;
  transition: all 1s ease;
}
.scrolled {
  width: 100%;
  height: 150px;
  position: fixed;
  background: #a6a9b6;
  border-bottom: 1px solid #fff;
  z-index: 25;
  box-shadow: 0 5px 10px rgba(187, 187, 187, 0.5);
  transition: all 0.5s ease;
}
.scrolled .header-top{
  background: #313236;
}

/* ===================== */
#header h1{
  color: white;
  font-size: 50px;
  position: absolute;
  top: 350px;
  z-index: 4;
}
.logo {
  max-width: 160px;
  width: 100%;
  float: left;
}
/* ==== dropdown ====== */
.nav-area{
  padding: 0;
  list-style: none;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}
.nav-area li{
  position: relative;
  line-height: 21px;
  text-align: left;
  max-width: 300px;
  width: 100%;
  
}
.nav-area li a{
  display: block;
  padding: 8px 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-area li a:hover{
  color: #fff;
}
.nav-area li ul.dropdown-menu{
  max-width: 100%; /* Set width of the dropdown */
  background: #276678;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.nav-area li ul.dropdown-menu li{
  display: block;
}
.nav-area li ul.dropdown-menu li a:hover{
  background-color: #1687a7;

}
/* ------ Video Banner------- */
.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: top;
  align-items: top;
}
.banner video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.banner::after{
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}
.content {
  position: relative;
  z-index: 99;
  top: 0;
  
}
/* ======  ICONS SECTION    ========= */
#icon {
  padding: 50px 0;
}
.Menu-of-icons {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  border: 1px black solid;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons  h4{
  margin-top:30px;
  font-size: 20px;
}
.icons div i {
  font-size: 30px;
  color: #1687a7;

}
/* ============   Columns   =================== */
#columns {
  padding: 20px 0 150px;
}
.columns-div {
  width: 30%;
  display: inline-block;
  margin-top: 40px;
  position: relative;
  margin-right: 35px;
  border: 1px solid rgba(0, 0, 0, 0.418);
  padding-bottom: 50px;
}
.columns-text {
  padding: 0 20px;
}
.columns-div img {
  width: 100%;
  height: 250px;
}
.columns-div h3 {
  margin: 30px 0;
}
.columns-div p {
  margin-bottom: 20px;
}
.columns-div a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #a1298f;
  transition: all 0.5s ease;
  padding: 10px 15px ;
  border-radius: 5px;
}
.columns-div a:hover {
  color: white;
  background-color: #276678;
}

/* =============  World Map ================ */
#map,
#worldmap,
#map-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* ========== FOOTER =================== */
#footer {
  width: 100%;
  background-color: #0f1123;
  padding: 50px 0 80px;
}
.information {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

}
.footer-left-side {
  width: 30%;
  color: white;
  font-size: 15px;
  margin-right: 80px;

}
.footer-left-side img {
  width: 100%;
  border-radius: 5px;
}
.footer-left-side p {
  margin: 30px 0;
  line-height: 1.5;
  opacity: 0.9;
}
.footer-left-side p span {
  font-size: 18px;
  color: #a1298f;
}
.footer-right-side {
  margin-right: 80px;
}
.footer-right-side h6 {
  color: #a1298f;
  font-size: 22px;
  margin-bottom: 25px;
  border-bottom: 1px dotted white;
  padding-bottom: 15px;

}
.footer-right-side a {
  color: white;
  font-size: 16px;
  opacity: 0.8;

}
.footer-right-side a:hover {
  color: #a1298f;
}
.footer-right-side li {
  margin-bottom: 15px;
}
.footer-right-side i {
  color: white;
  margin-right: 15px

}
.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}
.social-icons i {
  font-size: 25px;
  color: #1687a7;
  transition: all 0.1s ease;
  padding-right: 10px;
}
.social-icons i:hover{
  color: #a1298f;
}
#footer form{
  width: 40%;
}
#footer fieldset {
  width: 100%;
  margin: 15px 0;
}
#footer input {
  width: 300px;
  height: 50px;
  outline: none;
  border-radius: 4px;
  background-color: #303770;
}
#footer textarea{
    width: 300px;
    height: 150px;
    resize: none;
    outline: none;
    border-radius: 4px;
    background-color: #303770;
} 
#footer h6 {
  color: #a1298f;
  font-size: 22px;
  margin-bottom: 25px;
}
.button {
  color: white;
  background-image: linear-gradient(to right,#a1298f,#18326f);
}
/* =========  გადაზიდვა =========== */
.banner-ship {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: top;
  align-items: top;
}
.banner-ship video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 60vh;
  pointer-events: none;
}
.banner-ship::after{
    content: "";
    background-color: #000;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}
/* Header Ship  */
.multipages h1{
  color: white;
  font-size: 50px;
  position: absolute;
  top: 280px;
}

.transportation {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 50px 0;
}
.transportation ul {
  border-left: #a1298f 5px solid;
  width: 20%;
}
.transportation li {
  font-size: 16px;
  border-bottom: 1px black dotted;
  padding: 10px;
  transition: all 0.1s ease;

}
.transportation a {
  color: #1687a7;
  padding: 10px;
  transition: all 0.1s ease;
}
.transportation li:hover {
  background-color: #3e7192;
}
.transportation li:hover a {
  color: white;
}
.transportation h3 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #5d3e92;
}
.transition-text {
  width: 70%;
}